{% load static %}
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> MRI bez tajemnic! </title>
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}" charset="UTF-8">
    <link rel="stylesheet" href="{% static 'style.css' %}" charset="UTF-8">
    <script src="{% static 'bootstrap.min.js' %}"></script>
    {% block css %}
    {% endblock %}
</head>

<body>
<div class=" d-flex w-100 h-100  mx-auto flex-column">



    <nav class=" nav navbar-expand-lg navbar py-1 ">
        <div class="row align-items-center">
            <div class="col-12">
                <a class="py-2" href="#" aria-label="Product">
                    <h1 class="text-center">Obrazowanie metodą <span class="base-color">rezonansu magnetycznego</span>
                        bez tajemnic</h1>
                </a>

            </div>
            <div class="col-12">
                <div class="container d-flex flex-column flex-md-row justify-content-between text-center">

                    {% if login %}
                        <div class="col-4">
                            <a class="py-2 d-none d-md-inline-block" href="#">Załóż konto</a></div>
                        <div class="col-4">
                            <a class="py-2 d-none d-md-inline-block" href="#">Zaloguj się</a></div>

                    {% else %}
                        <div class="col-4">
                            <a class="py-2 d-none d-md-inline-block" href="#">Profil</a></div>
                        <div class="col-4">
                            <a class="py-2 d-none d-md-inline-block" href="#">Progres</a></div>
                        <div class="col-4">
                            <a class="py-2 d-none d-md-inline-block" href="#">Wyloguj się</a></div>

                    {% endif %}

                </div>
            </div>
        </div>
    </nav>

    <main class="mri-container content mx-auto">
        {% block content %}
        {% endblock %}
    </main>

    <footer class=" mt-auto text-center">
        Copyright © <a class=" font-weight-bold text-decoration-none text-black base-color"
                       href="https://github.com/aleksandraszum/">
        Aleksandra Szum </a> 2020
    </footer>

</div>
{#<script async="" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML"#}
{#        type="text/javascript"></script>#}
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>#}
{% block script %}
{% endblock %}
</body>
</html>