{% extends 'base.html' %}

{% block content %}

    <div class="row">
    <div class="col-12">
       <h2 class="base-color text-center">{{ communicate }}</h2>
    </div>
        <div class="col-12 text-justify">
            <p>Witaj na stronie poświęconej obrazowaniu metodą rezonansu magnetycznego!</p>
            <p>Strona ta powstała jako udoskonalona wersja <a class="base-color"
                                                              href="http://mribeztajemnic.pythonanywhere.com/myfirstapp/">
                projektu magisterskiego</a>.</p>
            <p>To, co charakteryzuje tę wersję, to:
            <ul>
                <li>dostęp do treści wyłącznie dla zalogowanych użytkowników</li>
                <li>dostęp do testów wiedzy sprawdzających opanowaną wiedzę</li>
                <li>dostęp do poszczególnych lekcji dopiero po dokładnym zapoznaniu się materiału z wcześniejszej
                    lekcji.
                </li>
                <li>kwestią techniczną - zdecydowanie ładniejszą wersją kodu, aniżeli pierwotna wersja.</li>
            </ul>
            </p>
            <p>Jeżeli chcesz nauczyć się podstaw obrazowania metodą rezonansu magnetycznego, to załóż konto i korzystaj
                z materiałów dostępnych w kursie!</p>
            <p>Autor: Aleksandra Szum. </p>
            <p> Linki:
            <ul>
                <li><a href="https://github.com/aleksandraszum/" class="base-color bold"> Github</a>,</li>
                <li><a href="https://www.linkedin.com/in/aleksandra-szum-921427160/"
                       class="bold base-color">
                    LinkedIn</a>.
                </li>
            </ul>
            </p>
        </div>

    </div>
{% endblock %}