/*Nav properties*/
.nav {
    display: block;
    text-align: center;
    background-color: #333;
}

.nav a {
    color: white;
    transition: ease-in-out color .15s;
}

.brain, .nav img {
    max-height: 100px;
    max-width: 100px;
}

.nav a:hover {
    color: #fff;
    text-decoration: none;
}

.base-color {
    color: #a71d2a;
}

.mri-color {
    background-color: white;
}

/*Content properties*/
html,
body {
    height: 100%;
}

body {
    display: -ms-flexbox;
    display: flex;
    color: #fff;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}

.mri-container {
    background-color: white;
    width: 80%;
    color: #333;
    padding: 30px 0px 30px;
}

.text-perc {
    width: 98%;
}

/*Footer properties*/
footer {
    background-color: #333;
    padding: 47px 10px 47px;
}

/*Links*/
.menu-links a {
    color: #a71d2a;
}

.isDisabled {
    color: rgba(0, 0, 0, .5);
    opacity: 0.5;
    text-decoration: none;
}

.p {
    color: black;
}