{% extends "base.html" %}
{% load static %}

{% block css %}
    <style> {{ css|safe }}</style>
{% endblock %}

{% block content %}

    <div class="row text-center text-perc">
        {% if user.is_authenticated %}
            <div class="col-sm-3 mx-auto text-justify">
                <h2 class="base-color text-center">Menu</h2>

                <ol class="menu-links font-weight-bold">
                    {% for key, value in links.items %}
                        {% if value == None %}
                            <li><p class="isDisabled">{{ key }}</p></li>
                        {% else %}
                            <li><a href="../{{ value }}">{{ key }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ol>
            </div>

            <div class="col-sm-9 mx-auto">
                <h1 class="base-color">{{ title }}</h1>
                <br>
                {% if progress %}


                    <p>Twój wynik: {{ result }}%!</p>
                    <p>{{ communicate }}</p>

                    {% if complete %}
                        <a href="../../spin_echo">
                            <button type="submit" class="btn btn-lg btn-secondary">Lekcja 2</button>
                        </a>
                    {% endif %}

                {% else %}
                    <br>
                    <h2 class="base-color">Nie masz dostępu do tej częsci kursu!</h2>
                    <br>
                    <a href="{% url 'lessons' %}">
                        <button type="submit" class="btn btn-lg btn-secondary">Twój postęp w nauce</button>
                        <br>
                    </a>
                    <p class="menu-links font-weight-bold">
                    <p> Masz dostęp tylko do następujących częsci kursu: </p>
                    {% for key, value in links.items %}
                        {% if value %}
                            {% if part %}
                                <p><a class="base-color font-weight-bold" href="../{{ value }}">{{ key }}</a></p>
                            {% else %}
                                <p><a class="base-color font-weight-bold" href="{{ value }}">{{ key }}</a></p>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    </p>
                {% endif %}

                <br>

            </div>
        {% else %}
            {% include 'course/not_logged.html' with title="Podstawy fizyczne rezonansu magnetycznego" %}
        {% endif %}
    </div>
    <br>


{% endblock %}


{% block script %}

    <script async="" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML"
            type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script>
        {{ js|safe }}
    </script>
{% endblock %}


