{% extends "base.html" %}

{% block css %}
    <style> {{ css|safe }}</style>
{% endblock %}

{% block content %}
    <div class="row ">
        <div class="col-3"></div>
        <div class="col-6">
            <a href="{% url 'basicNMR_base' %}"><h3 class="base-color text-center"> {{ title_1 }}</h3></a>
            <ol class="menu-links font-weight-bold justify-content-lg-start">
                {% for key, value in lesson_1.items %}
                    {% if value == None %}
                        <li class="isDisabled">{{ key }}</li>
                    {% else %}
                        <li><a href="{% url 'basicNMR_base' %}{{ value }}">{{ key }}</a></li>
                    {% endif %}
                {% endfor %}
            </ol>
        </div>
    </div>

    <div class="row text-justify">
        <div class="col-6">
            <a href="{% url 'spin_echo_base' %}"><h3 class="base-color text-center"> {{ title_2 }}</h3></a>
            <ol class="menu-links font-weight-bold justify-content-lg-start">
                {% for key, value in lesson_2.items %}
                    {% if value == None %}
                        <li class="isDisabled">{{ key }}</li>
                    {% else %}
                        <li><a href="{% url 'spin_echo_base' %}{{ value }}">{{ key }}</a></li>
                    {% endif %}
                {% endfor %}
            </ol>
        </div>
        <div class="col-6">
            <a href="{% url 'k_space_base' %}"><h3 class="base-color text-center"> {{ title_3 }}</h3></a>
            <ol class="menu-links font-weight-bold justify-content-lg-start">
                {% for key, value in lesson_3.items %}
                    {% if value == None %}
                        <li class="isDisabled">{{ key }}</li>
                    {% else %}
                        <li><a href="{% url 'k_space_base' %}{{ value }}">{{ key }}</a></li>
                    {% endif %}
                {% endfor %}
            </ol>
        </div>
    </div>

    <div class="row text-justify">
        <div class="col-6">
            <a href="{% url 'reconstruction_base' %}"><h3 class="base-color text-center"> {{ title_4 }}</h3></a>
            <ol class="menu-links font-weight-bold justify-content-lg-start">
                {% for key, value in lesson_4.items %}
                    {% if value == None %}
                        <li class="isDisabled">{{ key }}</li>
                    {% else %}
                        <li><a href="{% url 'reconstruction_base' %}{{ value }}">{{ key }}</a></li>
                    {% endif %}
                {% endfor %}
            </ol>
        </div>
        <div class="col-6">
            <a href="{% url 'diffusion_base' %}"><h3 class="base-color text-center"> {{ title_5 }}</h3></a>
            <ol class="menu-links font-weight-bold justify-content-lg-start">
                {% for key, value in lesson_5.items %}
                    {% if value == None %}
                        <li class="isDisabled">{{ key }}</li>
                    {% else %}
                        <li><a href="{% url 'diffusion_base' %}{{ value }}">{{ key }}</a></li>
                    {% endif %}

                {% endfor %}
            </ol>
        </div>
    </div>

{% endblock %}


{% block script %}


    <script>
        {{ js|safe }}
    </script>
    <script async="" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML"
            type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

{% endblock %}


