{% extends "base.html" %}

{% block css %}
    <style> {{ css|safe }}</style>
{% endblock %}

{% block content %}

    <div class="row text-center text-perc">
        <div class="col-sm-12 mx-auto text-center">
            <br>

            {% if user.is_authenticated %}
                {% include 'course/lesson_view.html' %}
            {% else %}
                {% include 'course/login_form.html' %}
            {% endif %}
        </div>
    </div>
{% endblock %}


{% block script %}

    <script async="" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML"
            type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script>
        {{ js|safe }}
    </script>
{% endblock %}


