{% extends "base.html" %}

{% block css %}
    <style> {{ css|safe }}</style>
{% endblock %}

{% block content %}
    <div class="row text-center">
        {% if user.is_authenticated %}
            <div class="col-sm-2 mx-auto text-left">
                <h2 class="base-color text-center">Menu</h2>

                <ol class="menu-links font-weight-bold">
                    {% for key, value in links.items %}
                        {% if value == None %}
                            <li><p class="isDisabled">{{ key }}</p></li>
                        {% else %}
                            <li><a href="../{{ value }}">{{ key }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ol>
            </div>

            <div class="col-sm-9 mx-auto">
                <h1 class="base-color">{{ title }}</h1><br>

                {% if progress %}
                    {{ text|safe }}

                    {% if form %}
                        <br>
                        <form action="" method="post">
                            {% csrf_token %}
                            <div>
                                <label for="{{ form.coils.id_for_label }}">{{ form.coils.label }}</label>
                                {{ form.coils }}
                            </div>

                            <div id="correlation-container">
                                <label for="{{ form.correlation.id_for_label }}">{{ form.correlation.label }}</label>
                                {{ form.correlation }}
                            </div>

                            <div>
                                <label for="{{ form.sigma.id_for_label }}">{{ form.sigma.label }}</label>
                                {{ form.sigma }}
                            </div>

                            <div id="reconstruction-container">
                                <label for="{{ form.reconstruction.id_for_label }}">{{ form.reconstruction.label }}</label>
                                {{ form.reconstruction }}
                            </div>
                            <div id="reconstruction-one-channel">Metodą rekonstrukcji dla jednokanałowego jest metoda
                                SoS
                            </div>

                            <input type="submit" value="Wyślij">
                        </form>


                        {% if filename is not None %}
                            <p> Stworzono dane dla następujących parametrów: </p>
                            <p> Ilość kanałów odbiorczych: {{ coils }} </p>
                            <p> Stopień zaszumienia danych: {{ sigma }} </p>
                            <p> Stosowana metoda rekonstrukcji: {{ reconstruction }} </p> <br>

                            {% if coils == 1 %}
                                <img src="../../static/{{ filename }}" height="300" width="300"/>
                            {% elif coils == 4 and reconstruction == 'Metoda SoS dla obrazowania wielokanałowego' %}
                                <img src="../../static/{{ filename }}" height="512" width="512"/>
                            {% elif coils == 4 and reconstruction == 'Metoda SENSE' %}
                                <img src="../../static/{{ filename }}" height="300" width="600"/>
                            {% elif coils > 5 and reconstruction == 'Metoda SoS dla obrazowania wielokanałowego' %}
                                <img src="../../static/{{ filename }}" height="400" width="800"/>
                            {% else %}
                                <img src="../../static/{{ filename }}" height="500" width="500"/>
                            {% endif %}
                            <p><b> Rysunek. Graficzne przedstawienie danych pochodzących z przestrzeni k. </b></p>

                            <img src="../../static/{{ filenameX }}" height="400" width="400"/>
                            <p><b> Rysunek. Zrekonstruowany obraz. </b></p>

                            <b>Symulator. Akwizycja i rekonstrukcja obrazu metodą rezonansu magnetycznego.</b>
                            </br>
                        {% endif %}

                    {% endif %}

                {% else %}
                    <br>
                    <h2 class="base-color">Nie masz dostępu do tej częsci kursu!</h2>
                    <br>
                    <a href="{% url 'lessons' %}">
                        <button type="submit" class="btn btn-lg btn-secondary">Twój postęp w nauce</button>
                        <br>
                    </a>
                    <p class="menu-links font-weight-bold">
                    <p> Masz dostęp tylko do następujących częsci kursu: </p>
                    {% for key, value in links.items %}
                        {% if value %}
                            {% if part %}
                                <p><a class="base-color font-weight-bold" href="../{{ value }}">{{ key }}</a></p>
                            {% else %}
                                <p><a class="base-color font-weight-bold" href="{{ value }}">{{ key }}</a></p>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    </p>
                {% endif %}

                <br>
                <div class="col-12">
                    {% if previous %}
                        <a href="../{{ p_idx }}">
                            <svg width="2em" height="2em" viewBox="0 0 16 16"
                                 class="bi bi-arrow-left-circle-fill float-left base-color"
                                 fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5.5a.5.5 0 0 0 0-1H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5z"></path>
                            </svg>
                        </a>
                    {% endif %}

                    {% if sequent %}
                        {% if s_idx == 1 and part != "0" %}
                            <a href="{{ s_idx }}">
                                <svg width="2em" height="2em" viewBox="0 0 16 16"
                                     class="bi bi-arrow-right-circle-fill float-right base-color"
                                     fill="currentColor"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                          d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-11.5.5a.5.5 0 0 1 0-1h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5z"></path>
                                </svg>
                            </a>

                        {% else %}
                            <a href="../{{ s_idx }}">
                                <svg width="2em" height="2em" viewBox="0 0 16 16"
                                     class="bi bi-arrow-right-circle-fill float-right base-color"
                                     fill="currentColor"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                          d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-11.5.5a.5.5 0 0 1 0-1h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5z"></path>
                                </svg>
                            </a>
                        {% endif %}
                    {% endif %}
                </div>

                {% if part == "8" %}
                    <a href="../quiz">
                        <svg width="2em" height="2em" viewBox="0 0 16 16"
                             class="bi bi-arrow-right-circle-fill float-right base-color"
                             fill="currentColor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-11.5.5a.5.5 0 0 1 0-1h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5z"></path>
                        </svg>
                    </a>

                {% endif %}


            </div>
        {% else %}
            {% include 'course/not_logged.html' %}
        {% endif %}

    </div>
    <br>


{% endblock %}


{% block script %}

    <script async="" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML"
            type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script>
        {{ js|safe }}
    </script>
{% endblock %}


