{% extends "base.html" %}

{% block css %}
    <style> {{ css|safe }}</style>
{% endblock %}

{% block content %}
    <div class="row text-center">
        <div class="col-sm-2 mx-auto text-center">
            inne linki
        </div>

        <div class="col-sm-9 mx-auto">
            <h4 class="base-color">{{ title }}</h4>
            {{ text|safe }}
            <div class="col-12">
                {% if previous %}
                    <a href="../{{ p_idx }}">
                        <svg width="2em" height="2em" viewBox="0 0 16 16"
                             class="bi bi-arrow-left-circle-fill float-left base-color"
                             fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5.5a.5.5 0 0 0 0-1H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5z"></path>
                        </svg>
                    </a>
                {% endif %}

                {% if sequent %}
                    <a href="../{{ s_idx }}">
                        <svg width="2em" height="2em" viewBox="0 0 16 16"
                             class="bi bi-arrow-right-circle-fill float-right base-color"
                             fill="currentColor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-11.5.5a.5.5 0 0 1 0-1h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5z"></path>
                        </svg>
                    </a>
                {% endif %}
            </div>

        </div>
    </div>
    <br>


{% endblock %}


{% block script %}

    <script async="" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML"
        type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script>
        {{ js|safe }}
    </script>
{% endblock %}


