{% extends "base.html" %}

{% block css %}
    <style> {{ css|safe }}</style>
{% endblock %}

{% block content %}

    <div class="row text-center text-perc">
        <div class="col-sm-12 mx-auto text-center">
        <br>
        <h1 class="base-color"> Zakładanie konta </h1>
        <br>
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <h3>
                        {{ field.label_tag }}<br>
                        {{ field }}<br>
                    </h3>
                {% endfor %}<br>
                <button type="submit" class="btn btn-lg btn-secondary">Załóż konto</button>
            </form>

        </div>
    </div>
    <br>


{% endblock %}


{% block script %}

    <script async="" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML"
            type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script>
        {{ js|safe }}
    </script>
{% endblock %}


