{% extends "base.html" %}

{% block css %}
    <style> {{ css|safe }}</style>
{% endblock %}

{% block content %}

<div class="row text-center text-perc">
    <div class="col-sm-12 mx-auto text-center">
        <br>
        {% if communicate == "Zarejestrowałeś się pomyślnie" %}
            <p>{{ communicate }}</p>
            <a href="{% url 'login_view' %}">
                <button type="submit" class="btn btn-lg btn-secondary">Zaloguj się</button>
            </a>
        {% else %}
            <h2 class="base-color"> {{ communicate }} </h2>
            <h1 class="base-color"> Zakładanie konta </h1>
            <br>
            <form method="post">

            {% csrf_token %}
            {% for field in form %}
                <h3>
                    {{ field.label_tag }}<br></h3>
                {% if form.errors %}
                {% for error in field.errors %}
                    {% if error != 'To pole jest wymagane.' %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                    {% endif %}
                {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
            {% endif %}
        <p>{{ field.help_text }}</p>
        <h3> {{ field }}<br>
        </h3>
        {% endfor %}<br>
        <button type="submit" class="btn btn-lg btn-secondary">Załóż konto</button>
        </form>
        {% endif %}
    </div>
</div>
<br>


{% endblock %}


{% block script %}

    <script async="" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML"
            type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script>
        {{ js|safe }}
    </script>
{% endblock %}


